@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
  font-family: 700;
  font-style: normal;
}

html, 
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: max-content;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  font-size: 3rem;
}

.wrapper {
  margin-bottom: 2rem;
}

.accordion__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
}

.accordion__header {
  margin: 0;
  font-size: 2rem;
  color: #25129a;
}

.wrapper:has(.accordion:not(:target)) .accordion__header {
  color: #25129a;
}

.accordion__icon {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  opacity: 0;
}

.accordion__icon.default {
  transform: rotate(45deg);
}

.wrapper:hover .accordion__icon {
  opacity: 1;
  transition: all 0.4s linear;
}

.accordion:has(.accordion__content.default) .accordion__content.default {
  max-height: 60rem;
}

.accordion:has(.accordion__content.default) .accordion__content.default img {
  transform: scale(1);
}

.accordion:has(.accordion__header.default) .accordion__header.default {
  color: #000000;
}

.wrapper:has(.accordion:target) .accordion__content.default,
.accordion__content {
  margin-bottom: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition-property: margin, padding, max-height;
  transition-duration: 0.25s;
}

.wrapper:has(.accordion:target) .accordion__content.default img {
  transform: scale(0.8);
}

.wrapper:has(.accordion:target) .accordion__icon.default {
  transform: rotate(0deg);
  color: #000000;
}

.wrapper:has(.accordion:target) .accordion__header.default {
  color: #25129a;
}

.accordion:target .accordion__content,
.wrapper .accordion:target .accordion__content.default {
  max-height: 60rem;
}

.accordion:target .accordion__header,
.wrapper .accordion__content.default + .accordion__wrapper .accordion__header {
  color: #000000!important;
}

.wrapper .accordion__content.default + .accordion__wrapper .accordion__icon,
.accordion:target .accordion__icon {
  transform: rotate(45deg)!important;
}

.accordion__image {
  filter: drop-shadow(0px 0.3rem 0.3rem #333333);
  border-radius: 10%;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.accordion__line {
  border-color: #f5ecea;
  margin: 0;
  padding: 0;
}

.accordion__header {
  transition: all 1.2s ease;
}

.accordion__content.default img,
.accordion img {
  transform: scale(0.8);
  transition: all 0.4s linear;
}

.accordion:hover .accordion__content.default img,
.accordion:target .accordion__content img,
.wrapper .accordion:target .accordion__content.default img {
  transform: scale(1);
}

.accordion:active .accordion__content img {
  transition: all 0.4s linear;
  filter: grayscale(100%) drop-shadow(0px 0.3rem 0.3rem #333333);
  cursor: wait;
}

.wrapper .accordion:active .accordion__icon,
.wrapper .accordion:active .accordion__header {
  color: #25129a73!important;
}

@media (hover: hover) {
  .accordion:hover img {
    transform: scale(1);
  }
  
  .accordion.default:hover .accordion__content.default img {
    transform: scale(1);
  }

  .wrapper:hover .accordion__header {
    color: #000000!important;
  }

  .accordion:hover .accordion__icon {
    transform: rotate(45deg)!important;
  }
  
  .accordion:hover .accordion__content{
    max-height: 60rem!important;
  }
}

@media screen and (max-width: 1180px) {
  h1 {
    font-size: 2rem;
  }

  .accordion__image {
    margin-bottom: 1rem;
  }

  .accordion__header,
  .accordion__icon {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .accordion__header,
  .accordion__icon {
    font-size: 1rem;
  }

  .accordion__image {
    margin-bottom: 0.8rem;
    border-radius: 7%;
  }
}